$lightblue: #547D9B;
$darkblue: #1A465E;
$lightorange: #EE942F;
$darkorange: #C77111;
$lightgreen: #67983F;
$darkgreen: #516933;

$lora: 'Lora', serif;
$pacifico: 'Pacifico', cursive;

*, html, *:before, *:after {
	box-sizing: border-box;
}

body, html {
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;

	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: #000;

	&:focus {
		outline: 0;
	}
}

ul, ol {
	list-style: none;
}

ul, li, ol, a, h1, h2, h3, h4, h5, * {
	margin: 0;
	padding: 0;
	border: none;
}

html {
	padding: 0;
	margin: 0;
}

html:after {
	margin: 0;
	padding: 0;
}

body {
	font-family: $lora;
	font-size: 100%;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 16px 56px;
	position: fixed;
	top: 0;
	z-index: 10;
	background: #fff;
	width: 100%;
	box-shadow: 0px 3px 91px -37px rgba(0,0,0,0.53);

	nav {
		width: 100%;
		max-width: 1300px;
	}

	ul {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		a {
			font-weight: 600;
			text-align: center;
			padding: 16px;
			max-width: 172px;
			display: inline-block;
			font-size: 1.2em;

			&:hover {
				color: #B7B7B7;
			}
		}

		li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		span {
			color: #fff;
			background: $lightblue;
			padding: 8px 12px;
			font-size: 0.7em;
			margin-top: -8px;
		}
	}

	.language-selector {

		.another-laguages {
			background: #fff;
			padding: 4px 13px;
			position: absolute;

			display: none;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: 16px;
			box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.3);

			&:hover {
				display: flex;
			}

			span {
				font-weight: 600;
				color: $lightblue;
				margin: 8px 0;
			}
		}

		.selected-language {
			border: 1px solid $lightgreen;
			border-radius: 8px;
			font-weight: 600;
			padding: 8px 12px;
			color: $lightgreen;
			cursor: pointer;

			&:hover ~ .another-laguages {
				display: flex;
			}
		}
	}
}

main {
	box-shadow: 0px 10px 19px 0px rgba(0,0,0,0.23);
	margin-top: 129px;
	position: relative;
	z-index: 2;
}

.hero-section {
	background-color: $lightgreen;
	background-image: url('../img/main-bg.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	&::after {
		content: url("../img/scroll-down-arrow.svg");
		position: absolute;
		left: 50%;
		margin-left: -79.5px;
		margin-top: -80px;
	}

	.container {
		background-image: url('../img/hore-house.png');
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: 65%;
	}

	.content {
		max-width: 50%;
		padding: 72px 56px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero-logo {
		width: 100%;
		max-width: 220px;
	}

	.main-headline {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 48px 0;

		img {
			margin: 0 16px;
		}

		h1 {
			color: #fff;
			font-family: $pacifico;
			font-size: 1.3em;
		}
	}

	p {
		color: #fff;
		font-size: 1.3em;
		margin-bottom: 32px;
		font-weight: 400;
	}

	.hero-ctas {
		margin: 56px 0;
		a {
			color: #fff;
			padding: 16px 56px;
			margin: 0 12px;
			border: 2px solid #fff;
			font-weight: 700;
			font-size: 1.2em;
		}

		.orange-cta {
			background: $lightorange;
			border: 2px solid $lightorange;
		}
	}
}

.home-about {
	margin: 120px 56px;
	.container {
		max-width: 960px;
		margin: 0 auto;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h2 {
		font-family: $pacifico;
		font-size: 2.5em;
	}

	.divider {
		margin: 56px 0;
	}

	.advantages {
		display: flex;
		justify-content: space-between;

		width: 100%;
	}

	p {
		font-weight: 400;
		text-align: center;
		max-width: 600px;
		margin-bottom: 56px;
	}

	.advantage {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		max-width: 120px;
		min-height: 200px;

		img {
			width: 100%;
			max-height: 60px;
		}

		span {
			font-weight: 700;
			text-align: center;
		}
	}
}

.home-location {
	background-color: #F6F6F6;
	background-image: url('../img/main-bg.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	padding: 72px 56px;

	.container {
		max-width: 770px;
		margin: 0 auto;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h3 {
			color: $lightorange;
			font-size: 1.5em;
			font-weight: 400;
		}

		img {
			max-width: 100px;
			width: 100%;
			margin-bottom: 32px;
		}

		strong {
			font-size: 1.5em;
			font-weight: 700;
		}

		span {
			font-weight: 400;
			font-size: 1.1em;
		}

		span, strong, h3 {
			margin: 16px;
		}

		a {
			font-size: 1.4em;
			border: 2px solid black;
			padding: 16px 56px;
			font-weight: 700;
			margin-top: 32px;
		}
	}
}

.home-counters {
	margin: 120px 56px;
	.container {
		max-width: 960px;
		width: 100%;
		margin: 0 auto;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.counters {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.linkec {
		padding: 16px 56px;
		border: 2px solid black;
		margin-top: 80px;
		font-weight: 700;
		font-size: 1.2em;
	}

	.counter {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&:hover > strong {
			color: $lightorange;
		}

		strong {
			font-size: 2.5em;
			font-weight: 700;
			margin-bottom: 40px;
		}

		span {
			font-weight: 400;
		}
	}
}

.home-kupa-prenajom {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 72px 32px;
	}

	.prenajom-element {
		&::before {
			content: 'Time Sharing';
			font-family: $lora;
			font-weight: 600;
			color: #fff;
			background: $lightorange;
			padding: 12px 32px;
			position: absolute;
			margin-top: -525px;
		}
	}

	.element {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50%;
		margin: 16px;
		padding: 72px 32px;
		min-height: 524px;

		&.kupa-element {
			background-color: $lightorange;
		}

		&.prenajom-element {
			background-color: $lightblue;
		}

		background-image: url('../img/main-bg.svg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		h3, p, a {
			color: #fff;
		}

		h3 {
			font-family: $pacifico;
			font-size: 2.5em;
		}

		img {
			width: 100%;
			margin: 56px;
			max-width: 300px;
		}

		p {
			text-align: center;
			max-width: 300px;
			margin-bottom: 56px;
		}

		a {
			padding: 16px 56px;
			border: 2px solid white;
			font-weight: 700;
			font-size: 1.2em;
		}
	}

}

.home-aktivity {
	background-image: linear-gradient(to top, #ececec, #f1f1f1, #f5f5f5, #fafafa, #ffffff);
	.container {
		background-image: url('../img/home-aktivity.png');
		background-repeat: no-repeat;
		background-position: bottom right;
		background-size: 50%;
		margin-right: 56px;
	}

	.content {
		padding: 120px 32px;
		margin-left: 200px;
		max-width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h2 {
			font-family: $pacifico;
			font-size: 2.5em;
		}

		img {
			margin: 56px 0;
		}

		strong {
			font-size: 1.2em;
		}

		p {
			text-align: center;
			margin: 32px 0;
		}

		a {
			font-weight: 700;
			font-size: 1.2em;
			padding: 16px 56px;
			border: 2px solid black;
			margin-top: 32px;
		}
	}
}

.home-novinky, .main-novinky {
	.container {
		padding: 120px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h2 {
		font-family: $pacifico;
		font-size: 2.5em;
		text-align: center;
	}

	.divider {
		margin: 56px 0;
	}

	p {
		max-width: 600px;
		text-align: center;
		font-weight: 400;
		margin-bottom: 56px;
	}

	.linkec {
		font-weight: 700;
		font-size: 1.2em;
		padding: 16px 56px;
		border: 2px solid black;
		margin-bottom: 56px;
	}

	.articles {
		display: flex;
		justify-content: center;
		align-items: center;

		flex-flow: row wrap;

		max-width: 1600px;
		padding: 0 8px;
		margin: 0 auto;

		a {
			width: 18%;
			min-width: 300px;
			min-height: 300px;
			margin: 0 8px;
		}

		article {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 48px;

			strong {
				font-family: $pacifico;
				font-size: 1.1em;
			}

			p {
				font-size: 0.8em;
				margin: 16px;
			}

			strong, p {
				color: #fff;
				text-align: center;
			}

			img {
				transform: rotate(180deg);
				width: 100%;

			}

			&.green {
				background: $lightgreen;

				&:hover {
					background: darken($lightgreen, 10);
				}
			}

			&.blue {
				background: $lightblue;

				&:hover {
					background: darken($lightblue, 10);
				}
			}

			&.orange {
				background: $lightorange;

				&:hover {
					background: darken($lightorange, 10);
				}
			}
		}
	}
}

.main-form {
	background-color: $lightgreen;
	background-image: url('../img/main-bg.svg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

	max-width: 1300px;
	margin: 0 auto;

	.wrapper {
		background-image: url('../img/form-pattern.svg');
		background-position: top left;
		background-size: 22px;
		background-repeat: repeat-y;
		margin: 0 8px;
		box-sizing: border-box;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		padding: 72px 0;
	}

	.img-top-form {
		width: 100%;
		max-width: 300px;
		margin-bottom: 56px;
	}

	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		max-width: 900px;

		.content, form {
			width: 50%;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-right: 56px;

		h3 {
			font-family: $pacifico;
			font-size: 2em;
		}

		p {
			margin: 56px 0;
			font-weight: 400;
		}

		h3, p, a {
			color: #fff;
		}

		a {
			margin-bottom: 24px;
			display: flex;
			align-items: center;
			font-weight: 700;

			img {
				margin-right: 24px;
				width: 100%;
				max-width: 25px;
			}
		}
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		input {
			width: 100%;
			color: #fff;
			background: $darkgreen;
			padding: 16px;
			font-size: 0.8em;
			margin: 16px 0;
			font-weight: 400;
		}

		label {
			display: flex;
			align-items: center;
			color: #fff;
			margin-top: 16px;
			margin-bottom: 24px;

			a {
				color: #fff;
				text-decoration: underline;
			}

			input {
				width: auto;
				margin-right: 32px;
			}
		}

		 button {
			 color: #fff;
			 background: $lightorange;
			 padding: 16px 56px;
		 }
	}
}

::placeholder {
	color: #fff;
}

.home-realizovane {
	margin: 120px 56px;
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h3 {
			font-size: 2.5em;
			font-family: $pacifico;
		}

		.divider {
			margin: 56px 0;
		}

		p {
			text-align: center;
			max-width: 700px;
		}
	}

	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 56px;

		.chaty-viac {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: $lightorange;
			min-height: 254px;
			padding: 0 120px;
			margin-left: 24px;

			span {
				font-weight: 600;
				font-size: 2em;
				text-align: center;
			}

			a {
				margin-top: 40px;
				padding: 16px 56px;
				border: 2px solid #fff;
				font-weight: 700;
				font-size: 1.2em;
			}

			span, a {
				color: #fff;
			}
		}
	}
}

.home-partneri {
	padding: 120px 56px;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h3 {
			font-family: $pacifico;
			font-size: 2.5em;
		}

		.divider {
			margin: 56px 0;
		}
	}

	.logos {
		max-width: 1100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			width: 100%;
			max-width: 120px;
			margin: 40px;
		}
	}
}

footer {
	background: #F6F6F6;
	padding: 120px 56px;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.top-logo {
		margin-bottom: 56px;
	}

	nav {
		width: 100%;
		max-width: 1300px;

		padding-bottom: 56px;
		border-bottom: 1px solid #454545;
	}

	ul {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		a {
			font-weight: 600;
			text-align: center;
			padding: 16px;
			max-width: 172px;
			display: inline-block;
			font-size: 1.2em;

			&:hover {
				color: #B7B7B7;
			}
		}

		li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		span {
			color: #fff;
			background: $lightblue;
			padding: 8px 12px;
			font-size: 0.7em;
			margin-top: -8px;
		}
	}

	.contacts {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding-top: 56px;
		width: 100%;
		max-width: 1000px;

		.contact {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			img {
				margin-bottom: 24px;
			}

			a {
				font-weight: 700;
			}
		}
	}
}

.copyright {
	background: #000;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;

		span {
			font-weight: 400;
			color: #fff;
			font-size: 1.2em;
			margin: 24px;
		}

		a {
			display: flex;
			align-items: flex-end;
			img {
				max-width: 90px;
				width: 100%;
			}
		}
	}
}

.home-long-bg {
	background-image: url('../img/home-long-bg.svg');
	background-repeat: no-repeat;
	background-size: contain;

	.container {
		background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 15%, rgba(255,255,255,0) 85%, rgba(255,255,255,1) 100%);
	}
}

.home-galeria, .main-galeria {
	padding: 120px 0;
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h2 {
		font-family: "Pacifico",cursive;
		font-size: 2.5em;
		text-align: center;
	}

	.divider {
		margin: 56px 0;
	}

	.linkec {
		font-weight: 700;
		font-size: 1.2em;
		padding: 16px 56px;
		border: 2px solid black;
		margin-bottom: 56px;
	}

	.homegallery {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		max-width: 1300px;
		margin: 0 auto;

		a {
			max-width: 400px;
			display: block;
			margin: 16px;

			img {
				width: 100%;
			}
		}
	}
}

.ponuka-nehnutelnosti {
	height: 100vh;
	margin-top: 0;
	padding-top: 129px;

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	.ponuka-card {
		width: 33.3333333333%;
		height: 100%;

		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

		transition: all 0.3s ease-in-out;

		&.card-dvoj {
			background-image: url('../img/home-gallery.jpg');
		}

		&.card-apart {
			background-image: url('../img/home-gallery02.jpg');
		}

		&.card-chata {
			background-image: url('../img/home-gallery03.jpg');
		}
	}

	section {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		span {
			color: #fff;
			font-weight: 700;
			font-size: 2em;
		}

		img {
			margin-top: 40px;
		}
	}

	.dvoj-apart-dom {
		background: rgba($lightorange, 1);
		transition: all 0.3s ease-in-out;

		&:hover {
			background: rgba($lightorange, 0.8);
		}
	}

	.apart-dom {
		background: rgba($lightblue, 1);
		transition: all 0.3s ease-in-out;

		&:hover {
			background: rgba($lightblue, 0.8);
		}
	}

	.chata {
		background: rgba($lightgreen, 1);
		transition: all 0.3s ease-in-out;

		&:hover {
			background: rgba($lightgreen, 0.8);
		}
	}
}

.galeria-wrapper {
	padding-bottom: 120px;
}

.main-galeria {
	margin-top: 129px;

	background-image: url('../img/main-bg.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;

	.homegallery {
		margin-top: 80px;
	}
}

.main-novinky {
	background-image: url("../img/main-bg.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
}

.novinky-wrapper {
	padding-bottom: 120px;
	.articles {
		margin-top: 80px;
		max-width: 1280px;
	}

	.main-form {
		margin-top: 120px;
	}
}

.main-kontakt {

}

.o-projekte-main {
	padding-bottom: 120px;
	padding-top: 129px;
	margin-top: 0;

	.main-form {
		margin-top: 120px;
	}

	.home-galeria {
		p {
			font-weight: 400;
			text-align: center;
			max-width: 600px;
			margin-bottom: 56px;
		}
	}

	.home-counters {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h2 {
			font-family: "Pacifico",cursive;
			font-size: 2.5em;
		}

		.divider {
			margin: 56px 0;
		}

		.main-img {
			width: 100%;
			max-width: 500px;
			margin-top: 56px;
		}
	}
}

.aktivity-main {
	margin-top: 0;
	padding-top: 129px;
	padding-bottom: 120px;

	.home-aktivity {
		.content {
			padding: 250px 0;
		}
	}
}

.aktivity-section {
	max-width: 1300px;
	margin: 0 auto;
	padding: 120px 0;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	h2 {
		font-family: "Pacifico",cursive;
		font-size: 2.5em;
	}

	.divider {
		margin: 56px 0;
	}

	p {
		max-width: 600px;
		text-align: center;
		font-weight: 400;
		margin-bottom: 56px;
	}

	.main-form {
		margin-top: 120px;
	}

	.two-column-section {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 100%;
		margin: 120px 0;

		&.last-twos {
			margin-bottom: 0;
		}

		p {
			max-width: unset;
			text-align: left;
			margin: 56px 0;
			max-width: 400px;
		}

		h3 {
			font-family: $pacifico;
			font-size: 2em;
		}

		img {
			box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.34);
		}

		a {
			color: #fff;
			background: $lightorange;
			padding: 16px 56px;
			font-weight: 700;
		}

		.align-right {
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			p {
				text-align: right;
			}
		}
	}
}

.aktivity-section-of-section {
	background: #FAFAFA;
	padding: 24px 0;


	.wrapper {
		background-image: url('../img/main-aktivity-pattern.svg');
		background-size: contain;
		background-position: top center;
		background-repeat: no-repeat;
	}

	.container {
		padding: 120px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		background-image: url('../img/main-aktivity-pattern.svg');
		background-size: contain;
		background-position: bottom center;
		background-repeat: no-repeat;
	}

	h2 {
		font-family: "Pacifico",cursive;
		font-size: 2.5em;
	}

	.divider {
		margin: 56px 0;
	}

	a {
		padding: 16px 56px;
		border: 2px solid black;
		margin-top: 80px;
		font-weight: 700;
		font-size: 1.2em;
	}

	.aktivity-wrapper {
		width: 100%;
		max-width: 1300px;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.aktivita {
		max-width: 30%;

		img {
			width: 100%;
			box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.34);
		}

		p {
			text-align: center;
		}

		h4 {
			text-align: center;
			font-weight: 700;
			font-size: 1.5em;
			margin: 32px 0;
		}
	}
}

.main-vsetky-aktivity {
	padding-bottom: 120px;

	.aktivity-section-of-section {
		background-image: url("../img/main-bg.svg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top center;
	}

	.wrapper {
		background: none;
	}

	.container {
		background: none;
	}

	.aktivity-wrapper {
		flex-flow: row wrap;

		.aktivita {
			margin: 80px 0;
		}
	}
}

.properties {
	background-image: url('../img/main-bg.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;

	padding: 120px 0;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.image-property {
		width: 100%;
		max-width: 65%;
	}

	h2 {
		font-family: $pacifico;
		font-size: 2.5em;
	}

	.divider {
		margin: 56px 0;
	}

	.aparts {
		max-width: 1400px;
		width: 100%;
	}

	.apart {
		display: flex;
		width: 100%;
		box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.34);
		margin-bottom: 120px;

		.content {
			background: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 32px 56px;
			width: 35%;
		}

		.element {
			margin-bottom: 32px;
		}

		h4 {
			font-size: 2em;
			font-weight: 700;
		}

		.parameters {
			display: flex;
			justify-content: center;
			margin: 32px 0;

			ul {
				margin: 0 16px;

				li {
					font-size: 1.1em;
				}
			}

			.align-right {
				text-align: right;

				li {
					padding: 16px 0;
				}
			}

			.align-left {
				font-weight: 700;

				li {
					padding: 16px 0;
				}
			}
		}

		.ctas {
			display: flex;
			justify-content: space-between;

			a {
				display: inline-block;
				font-size: 1.4em;
				border: 2px solid black;
				padding: 16px 56px;
				font-weight: 700;

				&:first-child {
					margin-right: 40px;
				}
			}
		}
	}
}

.property-detail-main {
	padding: 120px 0;

	background-image: url('../img/main-bg.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;

	.main-form {
		margin-top: 120px;
	}

	.container {
		&.detail-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	h2 {
		font-family: $pacifico;
		font-size: 2.5em;
	}

	.divider {
		margin: 56px 0;
	}

	.dividertwo {
		margin: 120px 0;
		transform: rotate(180deg);
	}
}

.property-detail {
	display: flex;
	justify-content: space-between;

	max-width: 1158px;

	 .main-img {
		 width: 100%;
		 height: auto;
		 box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.34);
	 }

	.content {
		background: #fff;
		max-width: 300px;
		margin-right: 32px;
		box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.34);

		img {
			width: 100%;
		}

		ul {
			padding: 24px 0;
		}

		li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 24px 0;
		}

		span, strong {
			font-size: 1.3em;
			margin: 8px 0;
		}

		span {
			font-size: 1.1em;
		}
	}
}

.floor-detail {
	margin: 120px 0;

	.floor-divider {
		max-width: 300px;
		margin-bottom: 32px;
	}

	.podorys-img {
		width: 100%;
		max-width: 600px;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		span {
			font-size: 1.5em;
			font-weight: 400;
		}

		h3 {
			font-size: 2em;
			font-weight: 700;
			margin: 32px 0;
		}

		.table {
			background: #fff;
			box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.34);

			table {
				margin: 16px;
			}

			.severka {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 8px;
				border-top: 1px solid black;

				p, img {
					margin: 0 16px;
				}
			}
		}

		th, td {
			text-align: left;
			padding: 16px 24px;
		}

		.ctas {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 56px;

			a {
				padding: 16px 56px;
				border: 2px solid black;
				font-weight: 700;
				font-size: 1.2em;
				margin: 0 16px;
			}
		}
	}
}
